html, body {
    height: 100%; /* Ensure the body and html take the full height */
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
    overflow: hidden; /* Prevent scrollbars from appearing */
  }
  
  video {
    position: absolute; /* Position the video absolutely */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    object-fit: fill; /* Fills the entire video area */
    z-index: -10;
  }


#clock {
    position: absolute;
    z-index: 100;
    color: white;
    font-family: Segoe UI;
    font-size: 3rem;
    width: 100%;
    height: 200px;
    padding-top: 70px;
    text-align: center;
    background: linear-gradient(#00000092, rgba(145, 152, 229, 0));;

}